.arrow {
    margin: 0 5px;
    font-size: 18px;
    transition: 500ms ease-in-out;
    display: inline-block;
    font-weight: bold;
    rotate: 3.1416rad;
}

.navbar__links a:hover .arrow {

    rotate: 0rad;
}



.navbar__links a {
    margin: 0 10px;

    color: var(--common-font-color);
    text-decoration: none;
}


.navbar__actions {
    display: flex;
    gap: 10px;
    align-items: center;
}


.navbar__actions a {



    text-decoration: none;
}

.menue-icon {

    display: none;
}


.sectionOne {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 20;
}


.sectionOne__left--title {

    font-size: var(--heading-main);
    line-height: 60px;
}

.sectionOne__left--body {
    line-height: 36px;
    text-align: justify;
    letter-spacing: -0.4px;
    font-size: var(--body-font-size);

}


.btn-singup-hero-section {
    padding: 20px 40px;


}

.sectionOne__left--signup-email-input {
    padding: 20px 40px;
    border: none;
    outline: none;
    background-color: #EEF4F5;
}

/* selecting and apply sudo element place holder and increment its front size */
input.sectionOne__left--signup-email-input::placeholder {


    font-size: 16px;
}

/* when user select text for higliting or copyin purpose it will apply the follwing color */
user::selection {
    background-color: rgba(0, 128, 0, 0.708);
    color: white;
}


.hero-signin a {


    text-decoration: none;
    color: #258AFF;
}


.sectionTwo {
    /* position: absolute; */
    background-position: top;
    /* background: url('../src/img/l1-featrues-bg-shape.svg'); */
    width: 100%;
    /* height: 1000px; */
    background-color: #EEF4F5;

    background-repeat: no-repeat;
}

.sectionTwo__innerdiv {


    background-color: inherit;

}


.sectionTwo__container--title {
    background-color: inherit;
    font-size: 48px;
}


.sectionTwo__innerdiv--card-container {
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

[class*=card-] {

    padding: 60px 20px;
}

.sectionTwo__innerdiv--card-container a {


    text-decoration: none;
}

.sectionThree {
    padding: 130px 0;
}

.sectionThree__right h2 {
    font-size: 48px;
    line-height: 60px;
}

.sectionThree__right p {
    max-width: 550px;
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
}

.sectionFour {

    width: 100%;
    background-color: #EEF4F5;
    padding-top: 130px;
}

[class*=sectionFour__] {
    background-color: inherit;
}



.sectionFour__left h2 p svg {
    background-color: inherit;
}



.sectionFour__left--body {
    font-size: var(--common-body-f);
    color: rgba(0, 0, 0, 0.604);
    line-height: 36px;
}

[class*=sectionFour__left--tick] {

    font-size: 20px;

}

.sectionFour__left--tick-svg {

    color: #258AFF;
}

/* responsive break point media query  */

/* desktop first approch */

@media (max-width:1200px) {}

@media (max-width:1024px) {}

@media (max-width:900px) {
    .container {
        max-width: 90%;
    }

    .sectionOne {
        grid-template-columns: 1fr;
    }

    .sectionOne__left {
        order: 1;
    }

    .sectionOne__right {
        order: 0;
    }

    .navbar__links {
        display: none;
    }

    .menue-icon {
        display: block;
    }

    .sectionOne__left--title {
        font-size: 40px;
    }

    .sectionTwo__innerdiv--card-container {
        grid-template-columns: repeat(2, .8fr);
        place-content: center;
    }

    [class*=card-] {

        padding: 30px 20px;
    }

    .sectionTwo__container--title {
        font-size: 34px;
    }

    .sectionThree {
        flex-direction: column;
    }

    .sectionFour__inner {
        flex-direction: column;
    }

    .sectionFour__left {
        order: 1;
    }

    .sectionFour__right {
        order: 0;
    }
}

@media (max-width:568px) {

    .sectionOne__left--title {
        font-size: 34px !important;
    }

    .sectionTwo__innerdiv--card-container {
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
    }

    .sectionOne__left--signup-email input,
    button {
        width: 90%;
    }



    .sectionOne__left--signup {


        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }

    .sectionOne__left--signup-email-input {
        margin: 5px;
    }
}

@media (max-width:520px) {

    .sectionOne__left--title {
        font-size: 15px !important;
        line-height: 30px;
    }

    .sectionOne__left--body {
        line-height: 20px;
        font-size: 12px;
        text-align: justify;
    }
}

@media (max-width:280px) {

    .sectionOne__left--title {
        font-size: 15px !important;
        line-height: 30px;
    }

    .sectionOne__left--body {
        line-height: 20px;
        font-size: 12px;
        text-align: justify;
    }
}